@charset "EUC-KR";



@media (min-width: 768px) {
.textBox{ 
	height: 320px;
	width: 320px;
	position: relative;
	text-align: center;
	background-color: #eeeeee;
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin : 5%; }
	
	.textBoxCover{
		margin : 1%; }
		
	
	.textBox div {
		vertical-align: middle;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		position: absolute;
		font-weight: bold;
		font-size: 25px;
	}
	#contents{
		font-size: 20px;
	}
	
	#preview{
		height: 300px;
	    width: 300px;
	    position: relative;
	    text-align: center;
	    background-color: #eeeeee;
	    margin-bottom: 3%;
	    position: relative;
	    text-align: center;
	    background-repeat : no-repeat;
	    background-size : cover;
	    background-position: center;
	    
	}
	#preview div{
		vertical-align: middle;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    display: inline-block;
	    position: absolute;
	    font-weight: bold;
	    font-size: 25px;
	    background-position: center;
   		background-size: cover;
	}
	#titleCont{
		font-size: 20px;
	}
	#submitErr{
		color : rgb(164, 19, 19);
	}
	
	#boardInfo{
		    text-align: center;
	}
}


@media (min-width: 991.98px) { 

	.textBox {
		height: 500px;
		width: 500px;
		position: relative;
		text-align: center;
		background-color: #eeeeee;
		margin-bottom: 3%;
		position: relative;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 20px;
		background-position: center;
	}

	
	.textBox div {
		vertical-align: middle;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		position: absolute;
		font-weight: bold;
		font-size: 25px;
	}
	#contents{
		font-size: 20px;
	}
	
	#preview{
		height: 500px;
	    width: 500px;
	    position: relative;
	    text-align: center;
	    background-color: #eeeeee;
	    margin-bottom: 3%;
	    position: relative;
	    text-align: center;
	    background-repeat : no-repeat;
	    background-size : cover;
	    background-position: center;
	}
	#preview div{
		vertical-align: middle;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    display: inline-block;
	    position: absolute;
	    font-weight: bold;
	    font-size: 25px;
	}
	#titleCont{
		font-size: 20px;
	}
	#submitErr{
		color : rgb(164, 19, 19);
	}
	
	#boardInfo{
		    text-align: center;
	}
}